
*{
	/* フルスクリーン用 */
	/*
	margin: 0px;
	padding: 0px;
	*/
	/* 通常用 */
	margin: 3px;
	padding: 3px;
}


th{
	text-align: left;
	width: 12em;
}

.tx {
	width: 5em;
	height: 1.2em;
}

.optionDiv{
	background-color : lightgray;
}

#discription{
	width: 900px;
	margin: 0 auto;
}

body{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

canvas {
  display: block;
  border: solid black 1px;
  padding: 0 0;
  margin: 0 auto;
}
